
.Navigation{
  display: inline-flex;
  height: 10%; width: 100%;

  display: flex;
}
.Navigation ul{
 display: inline-flex;
margin:10px auto;
list-style: none;
}
.Navigation ul li{
  margin: 20px;
}
.Navigation ul li a{
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
  font-weight: 600;
  font-size: 13px;
}
.container{
  border-radius: 10%;
  margin:100px auto;
  width: 700px;
  height: 350px;
  color: white;
  background-color: #2E133A;
}
.box{
  height: 250px;
padding: 60px;
  text-align: center;
  margin: auto;
  width: 500px;

}
.box h3{
  font-family: 'poppins';
}

button{

  font-size: 15px;
  font-family: sans-serif;
  margin: 20px;
  padding:14px 39px;
  border: none;
  border-radius: 25px;
  justify-content: space-evenly;
}